<div class='field'>
    <div>
	    <%= f.label :name %>
	  </div>
    <div>
	    <%= f.text_field :name %>
	  </div>
	</div>
<div class='field'>
   <div>
    <%= f.label :title %>
  </div>
   <div>
    <%= f.text_field :title %>
  </div>
</div>