<div class="forty_sixty">
	<div class="forty left">
		<%= render 'cms/pages/show/panel', :panel => region.panels.first %>
	</div>
	<div class="sixty right">
		<%= render 'cms/pages/show/panel', :panel => region.panels.second %>
	</div>
	<div class="spacer"></div>
</div>