<div class="sixty_forty">
	<div class="sixty left">
		<%= render 'cms/pages/show/panel', :panel => region.panels.first %>
	</div>
	<div class="forty right">
		<%= render 'cms/pages/show/panel', :panel => region.panels.second %>
	</div>
	<div class="spacer"></div>
</div>