<div class="one_third_two_thirds">
	<div class="two_thirds left">
		<%= render 'cms/pages/show/panel', :panel => region.panels.first %>
	</div>
	<div class="one_third right">
		<%= render 'cms/pages/show/panel', :panel => region.panels.second %>
	</div>
	<div class="spacer"></div>
</div>