<div class="two_halves">
	<div class="half left_half">
		<%= render 'cms/pages/show/panel', :panel => region.panels.first %>
	</div>
	<div class="half right_half">
		<%= render 'cms/pages/show/panel', :panel => region.panels.second %>
	</div>
	<div class="spacer"></div>
</div>